

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    letter-spacing: 0.25px;
    background: #F9F0F1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.24);
    width: 100%vw;
    height: 60px;
    /* overflow: visible; */
        /* position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1; */
    
}

.nav a:hover {
    color: black;
}

.nav-link {
    color: rgba(30, 30, 36, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
}

.nav-item-foliobuddies {
    margin-left: 40px;
}

.nav-link-foliobuddies{
    color: rgba(30, 30, 36, 1);
    font-size: 26px;
    line-height: 11px;
    
}

.nav-item-foliobuddies a:hover {
    text-decoration: none;
}

.nav-item-home{
    margin-right: 13px;
}

.nav-item-signup{
    margin-left: 12px;
    margin-right: 12px;
}

.nav-item-login {
    margin-left: 12px;
    margin-right: 40px;
}
